body {
    padding: 0;
    margin: 0;

}


.container {
    max-width: 375px;
    margin: 0 auto;
    background-color: hsl(221, 100%, 96%);
}

h1,
h2 {
    color: hsl(0, 0%, 100%);
}

.summary {
    color: black;
}

.flex-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsla(0, 100%, 67%);
    background-color: rgba(255, 87, 87, 0.136);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}

.flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 177, 31);
    background-color: rgba(255, 177, 31, 0.136);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;

}

.flex-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 189, 145);
    background-color: rgba(0, 189, 145, 0.136);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;

}

.flex-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(17, 36, 212);
    background-color: rgba(17, 36, 212, 0.136);
    border-radius: 5px;
    height: 50px;
    cursor: pointer;

}

.inner-flex{
    display: flex;
    gap: 10px;
    align-items: center;
}


.top-section {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 100px;
    height: 100px;
}

.bottom-section {
    padding-bottom: 30px;
    width: 320px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-1 {
    color: hsl(241, 100%, 89%);
}

.text-2 {
    text-align: center;
    width: 250px;
    padding-bottom: 30px;
    color: hsl(241, 100%, 89%);
}

.para {
    color: black;
}

span {
    font-weight: bold;
}

button {
    width: 325px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: aliceblue;
    background: hsl(224, 30%, 27%);

}
button:hover{
    background-color:  hsl(241, 81%, 54%);
    cursor: pointer;
}